@CHARSET "UTF-8";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #BBBBBB;
	margin :0;
	height: 100vh;
}

.wrapper {
	height: 100%;	
}

.contents {
	width: 100%;
	background: #FFFFFF;
	margin: 0 auto;
}

.contents#header {
	text-align: center;
	width: 90%;
	margin: 0 auto;
	font-size: 24px;
	border: 1px solid #CCCCCC;
}

ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

li {
	box-sizing: border-box;
	float: left;
	height: 42px;
	font-size: 16px;
	text-align: center;
	line-height: 42px;
	border: 1px solid #CCCCCC;
	width: 33.33333%;
	width: -webkit-calc(100%/ 3);
	width: calc(100%/ 3);
	background: #FFFFFF;
	list-style-type: none;
	transition: background 0.5s ease;
	cursor: pointer;
	width: 33.33333%;
}

li:hover {
	background: #CCCCCC;
}

li.selected {
	background: #CCCCCC;
	cursor: default;
}

.contents#main {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 1em;
	height: 77%;
	overflow: scroll;
}

#dice input, #dice select {
	width: 30%;
	height: 48px;
	margin-top: 5px;
}

.content#battle {
	display: none;
}

.content#character {
	display: none;
	text-align: left;
}

#roll>span {
	font-size: 64px;
	color: #000000;
}

#sum {
	padding: 1em;
}

.contents#footer {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}