@CHARSET "UTF-8";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #BBBBBB;
	margin :0;
	height: 100vh;
}

.wrapper {
	height: 100%;
}

.contents {
	width: 100%;
	background: #FFFFFF;
	margin: 0 auto;
}

.contents#header {
	text-align: center;
	//width: 90%;
	margin: 0 auto;
	font-size: 24px;
	border: 1px solid #CCCCCC;
}

ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

li {
	box-sizing: border-box;
	float: left;
	height: 42px;
	font-size: 16px;
	text-align: center;
	line-height: 42px;
	border: 1px solid #CCCCCC;
	width: 33.33333%;
	width: -webkit-calc(100%/ 3);
	width: calc(100%/ 3);
	background: #FFFFFF;
	list-style-type: none;
	transition: background 0.5s ease;
	cursor: pointer;
	width: 33.33333%;
}

li:hover {
	background: #CCCCCC;
}

li.selected {
	background: #CCCCCC;
	cursor: default;
}

.contents#main {
	//width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 1em;
	//height: 77%;
	height: 80%;
	overflow: scroll;
}

#dice input, #dice select {
	width: 30%;
	height: 48px;
	margin-top: 5px;
}

.content#battle {
	display: none;
}

#battle{
	width: 100%;
	margin: 0 auto;
	text-align: left;
}

#battleCommand{
	position: fixed;
//	height: 4em;
	background-color: #ffffff;
	width: 90%;
	left: 0px;
	bottom: 0px;
	margin-left: 5%;
}

#battleCommand table {
	text-align: center;
	width: 100%;
	border: 1px solid #CCC;
}

#battleCommand td, #battleCommand th {
	border: 1px solid #CCC;
}

#battleCommand th{
	font-size: 0.3ex;
	font-weight: normal;
}

#scNames{
	font-size: 0.3ex;
	white-space: nowrap
}

.skill {
	border: 1px solid #CCC;
	padding: 1em;
	margin-bottom: 1em;
}

.use {
	display: none;
	float: right;
}

input.use + label {
	//width: 4ex;
	color: #CCCCCC;
	font-size: 2em;
	border-radius: 2px;
	border: 1px solid #CCCCCC;
	transition: color 0.3s;
	float: right;
}

.use:checked + label {
	color: #27ae60;
}

.skill input{
	border: none;
	border-bottom: 1px solid #CCC;
	width: 3em;	
}

.deleteSkill {
	width: 2em;
	height: 2em;
	color: #e74c3c;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	line-height: 2em;
	float: right;
	border:1px solid #e74c3c;
	transition: background-color ease 0.3s;
}

.deleteSkill:active {
	background-color: #e74c3c;
}

#addPanel {
	width: 2em;
	font-size: 2em;
	color: #3498db;
	margin: 0 auto;
	margin-bottom: 3em;
	background-color: #ffffff;
	border: 1px solid #3498db;
	border-radius: 1ex;
	text-align: center;
	transition: background-color ease 0.3s;
}

#addPanel:active {
	background-color: #3498db;
}

.content#character {
	display: none;
	text-align: center;
}

#character input, #character select {
	width: 25%;
	height: 48px;
	margin-top: 5px;
}

div#addSkillPane {
	display: none;
}

#addSkill {
	width: 90%;
	margin: 0 auto;
}

#addSkill input, #addSkill select {
	width: 100%;
}

.inputs {
	margin-bottom: 5px;
}

#roll>span {
	font-size: 64px;
	color: #000000;
}

#sum {
	padding: 1em;
}

.contents#footer {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}